*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:blue;
    
}

.flexivel{
    display: flex;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

section{
    background-color: #89CFF0;
    margin: 0.5rem 0.5rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 1950px;
    
}

strong{
    font-size: 16px;
}

/* 1section */
#hello{
    max-width: 70%;
    width: 70%;
    align-items: center;
}

.msg{   
    font-size: large;
    padding: 1rem;
    border-radius: 8px;
    margin: 3px 20px;
}

.list{
    padding-left:400px;
    width: 900px;
    margin-top: 30px;
}

.buttoncontainer{
    display: flex;
    align-items: center;
    margin: 1;
}

.buttonmain{
    text-align: center;
    padding: 5px 10px;
    width: 300px;
    margin-top: 3px;
    font-size: 13px;
    color: #ADD8E6;
    background-color: blue;
    border-radius: 190px;
    cursor: pointer;
}

.buttonsmall{
    font-size: 13px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsecond{
    text-align: center;
    padding: 5px 10px;
    width: 160px;
    margin-top: 3px;
    font-size: 13px;
    color: #ADD8E6;
    background-color: blue;
    border-radius: 190px;
    cursor: pointer;
    z-index: 1;
}

.contact_button_container{
   width: 160px;
   height: 30px;
    max-width: 200px;
    max-height: 60px;
}

.btn{
    position: absolute;
   
}

.buttonin{
    font-size: 13px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}





/*2 seção*/

#status{
    width: 30%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#status h3{
    font-size: 20px;
    margin: 0 0 1rem 0;
    
}

#status strong{
    font-size: 14px;
    white-space: nowrap;
   
}

.list_status ul{
    padding-left: 100px;
    list-style: none;
    display: flex;
    gap: 2rem;
    white-space: nowrap;   
}

.list_status li {
    font-size: 14px;
}

.addstatus{
    border: none;
    color: blue;
    padding: 3px 6px;
    border-radius: 50%;
    cursor: pointer;
}

.addstatus:hover{
    background-color: #D8D8D8;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.addstatus:active{
    background-color: #D8D8D8;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(4px);
}

.dados{
    font-weight: bold;
    font-size: 13px;
    width: 100px;
}

.dados ul{
    list-style: none;
    display: flex;
    
}

.dados li{
    padding-right: 100px;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 7px;
}

.container_dado{
    background-color: white;
    margin: 10px 0px;
    border-radius: 8px;
    padding: 6px;
}

.container_dado ul{
    list-style: none;
    display: flex;
    align-items: center;
    
}

.container_dado li{
    padding-right: 60px;
    white-space: nowrap;
    color: black;
    font-weight: bold;
}

.processo{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.processo1{
    background-color: #eead2d;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.processo2{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

/*3 seção*/

.titulo{
    font-size: 14px;
    white-space: nowrap;
}

#meio{
    width: 70%;
}

.list2 ul{
    padding-right: 10px;
    padding-left: 600px;
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 14px;
    white-space: nowrap;
}

.list2 a{
    text-decoration: none;
    color: blue;
}



.descricao{
    text-align: center;
    font-size: 13px;
    color:black;
}


.container img { 
    max-width: 180px;
    padding-top: 20px;
 }

 .containera img { 
    max-width:100%;
    padding-top: 20px;

 }

.alertas li{
    padding-left: 80px;
    text-decoration: none;
}

 .container{
    background-color: white;
    border-radius: 10px;
    margin: 0.3rem;
 }
 
#coment{
    width: 30%;
}

.containerab img { 
    max-width:100%;
    padding-top: 20px;
    margin: 10px;
    border-radius:50%;
 }

 /*5 secao*/
 
 #status{
    width: 70%;
 }

 /* 6 secao*/

 #end{
    width: 30%;
    justify-content: center;
    align-items: center;
    padding: 10px;
 }

 #end strong{
    white-space: nowrap;
    font-size: 14px;
    margin-bottom: 35px;
 }


.container_pedido{
    background-color: white;
    border-radius: 8px;
    margin: 10px 0px;
}

.container_pedido img { 
    background-color: white;
    border-radius: 8px;
    padding: 6px;
    max-width: 180px;
 }

 .vpp{
    margin-right: 8px;
 }
